/* Reset margins and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Make sure the app takes full screen */

html,
body,
#root {
    width: 100%;
    height: 100%;
    background: #000000;
}


/* Remove button default styles */

button {
    border: none;
    outline: none;
    font-family: inherit;
}


/* Remove focus outline */

button:focus {
    outline: none;
}