body {
    background: var(--tg-theme-secondary-bg-color, white);
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000000;
}

#root {
    width: 100%;
    height: 100%;
    position: relative;
}


/* Improve font rendering */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


/* Prevent iOS zoom on input */

input,
textarea,
button,
select {
    font-size: 16px;
    /* Prevents iOS zoom */
}


/* Responsive base font size */

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}